<h3>About You</h3>
<p>Let's add some quick info</p>
<%= f.text_field :city, :placeholder => "City" %>
<%= select_tag :state, options_for_select(us_states), :class => "state" %>
<%= f.text_field :zip_code, :placeholder => "Zip Code"%>        
<%= f.text_area :slug, :placeholder => "Slug; Tell us about yourself." %>
<%= f.text_area :skills, :placeholder => "Skills" %>